:root {
  --mainDarkBlue: #415396;
  --mainGrey: rgba(109, 109, 109);
  --mainLightBlue: #4fb7f7;
  --mainYellow: #ffc30c;
  --mainBlue: #007bff;
  --mainWhite: #fff;
  --mainDark: #000;
  --footerbgColor: rgba(52, 58, 64);
}
* {
  font-family: 'Garamond';
}
.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  border: none;
}

.social-container {
  padding: 25px 50px;
}

a.social {
  padding: 25px 50px;

  margin: 0 1rem 1rem 3rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}
a.telegram {
  color: #49a1eb;
}

.committePictures {
  border-radius: 5% 6% 090% 96%;

  height: 200px;
  width: 100px;
}
