:root {
  --mainDarkBlue: #415396;
  --mainGrey: rgba(109, 109, 109);
  --mainLightBlue: #4fb7f7;
  --mainYellow: #ffc30c;
  --mainBlue: #007bff;
  --mainWhite: #fff;
  --mainDark: #000;
  /* --footerbgColor: rgba(52, 58, 64); */
  --footerbgColor: #121214;
}
* {
  /* font-family: Lato, 'Playfair Display'; */
  /* font-family: sans-serif, cursive; */
  font-family: 'Times New Roman', Times, serif;
}
.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  border: none;
}

.social-container {
  padding: 0px 50px;
}

a.social {
  padding: 0px 50px;
  margin: 0 1rem 1rem 3rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}
a.telegram {
  color: #49a1eb;
}

/* navbar items */
.navbar {
  border-bottom: 5px solid rgb(82, 182, 246);
}
.nav-item :hover {
  /* border-radius: 25px; */
  font-weight: bolder;
  background-color: rgba(54, 129, 175, 0.2);
  transform: translateY(-2px);
}

/* .active {
  background-color: rgba(54, 129, 175, 0.2);
  font-weight: bold;
} */

.carousel-inner > .carousel-item {
  height: 600px;
  opacity: 1;
}

.ImageDescription {
  background-color: #121214;
  opacity: 0.9;
}

.ImageDescription > h5,
.ImageDescription > p {
  color: var(--mainYellow);
  opacity: 1;
}

/* boxes */

#boxes {
  margin-top: 20px;
  background-color: yellow;
  border: #eb3223 solid 5;
}
#boxes .box {
  float: left;
  width: 33.33%;
  height: 100%;
  padding: 50px;
  text-align: center;
}
#boxes .box p {
  text-align: center;

  padding-block: 25px;
}
#boxes .box img {
  width: 100%;
}
